:root{
  --element-background:#01AAEE;
  /* --button-hover:#759baa; */
  --button-hover:#575d5f;
  --text-color:#353434;
  --unique-background:#DBDBDB;
  --white: #ffffff;
  --notification-success-bg:#2c9402;
  --edit-button-bg:#2C974B;
  --notification-error-bg:#e71809;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
  font-weight: normal;
}
html{
  height: -webkit-fill-available;
}
body{
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
  line-height: 1.6;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  padding-bottom:50px;
  position: relative;
  min-height:100vh;
  min-height: -webkit-fill-available;
}
.center-text{
  text-align: center;
}

a{
  text-decoration: none;
}
ul{
  list-style: none;
}
header{
  background-color: var(--element-background);
  top: 0;
  width: 100%;
}
.logo{
  display: inline-block;
  color: var(--white);
  font-size: 35px;
  margin-left: 10px;
}
nav{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color:var(--button-hover);
  background-color:#575d5f;
  overflow: hidden;

}
.menu a{
  display: block;
  padding: 10px;
  color: var(--white);
  font-weight: bold;
}
.menu a:hover{
  background-color:var(--button-hover);
  color:var(--white);
}
nav{
  max-height: 0;
  transition: max-height .5s ease-out;
}
.hamb{
  cursor: pointer;
  float: right;
  padding: 30px 10px;
}
.hamb-line {
  background: var(--white);
  display: block;
  height: 3px;
  position: relative;
  width: 25px;
} 
.hamb-line::before,
.hamb-line::after{
  background: var(--white);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.hamb-line::before{
  top: 5px;
}
.hamb-line::after{
  top: -5px;
}

.side-menu {
  display: none;
}
.side-menu:checked ~ nav{
  max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top:0;
}
main{
  padding: 10px;
  min-width:250px;
}
#form-container{
  margin: 0 auto;
  background-color:#a7ddf3;
  min-width: 250px;
  width:85%;
  max-width: 300px;
  font-weight: bold;
  overflow: hidden;
  color:var(--text-color);
  text-align: justify;
  margin-top: 50px;
}
form{
  padding:25px;
}
.dash{
  padding:5px; 
}
.dash input{
  display: block;
  padding:5px;
}
.reports-dash{
  padding:10px;
}
.reports-dash input{
  display: block;
  padding:5px;
}
.form-header{
  text-align:center;
  background-color: var(--element-background);
  padding: 10px;
  color:var(--white);
}
input{
  margin-bottom: 10px;
  padding:10px;
  width:100%;
  font-weight: bold;
}
input[type="file"]{
  margin:10px 0;
  padding:0;
}
.submit{
  font-weight: bold;
  background-color:var(--element-background);
  border:none;
  text-decoration: none;
  padding: 10px;
  color:var(--white);
  width:100%;
  margin:10px 0px;
}
p{
  font-size: small;
}
.dashboard-submit{
  width:100%;
}
select{
  display: block;
  margin:10px auto;
  width:95%;
  padding:5px;
  font-weight: bold;
}
button:hover{
  background-color: var(--button-hover);
  color: var(--white);
  cursor: pointer;
}
footer{
  background-color: var(--element-background);
  color: var(--white);
  height:40px;
  padding: 10px;
  position:absolute;
  bottom:0;
  width: 100%;
  text-align: center;
}
footer a{
  color:var(--text-color);
}
footer a:hover{
  color: var(--white);
  text-decoration: underline;
}

.actions{
  background-color: var(--element-background);
  width:100%;
  margin: 0 auto;
  margin-top:20px;
}
.actions button {
  text-align: left;
  background-color:inherit;
  border: none;
  cursor: pointer;
  padding:8px;
  transition: 0.3s;
  color:var(--white);
  font-weight: bold;
  width:50%;
}
.actions button:hover {
  background-color:var(--button-hover);
  color:var(--white);

}
.actions button.active {
  background-color:var(--button-hover);
  color:var(--white);
} 
.actionContent {
  display: none;
  padding: 10px;
  border-top: none;
  background-color:#a7ddf3;
  width:100%;
  margin:0 auto;
  margin-bottom:20px;
}
.text-margin{
  margin-top:20px;
  font-size: 14px;
}
.holder{
  flex-wrap: wrap;
}
.input-expenses{
  padding:5px;
  flex:25%;
}
.list-expenses{
  padding:5px;
  flex:75%;
}
.holder-padding{
  padding:5px;
}
.holder-padding input{
  display: block;
  padding:5px;
  width:100%;
}
.holder-padding-submit{
  width: 100%;
}
.holder-select{
  width:100%;
  padding:5px;
}
.list-expenses-li{
  /* padding:5px; */
  max-height:310px;
  overflow-x: hidden;
  overflow-y: auto;
}
.list-expenses-li li{
  background-color: var(--button-hover);
  padding:5px;
  margin-top: 5px;
  color:var(--white);
}
.buttons{
  margin-top:10px;
  width:100%;
}
.expense-button{
  width:50%;
  padding:3px;
  color:var(--white);
  font-weight: bold;
  border: none;
}
.expense-button:hover{
  color:var(--text-color);
  background-color: var(--unique-background);
}
.edit{
  background-color: var(--element-background);
}
.remove{
  background-color: var(--notification-error-bg) ;
}
.submitting{
  background-color: var(--button-hover);
}
.submitting::after{
  display: inline-flex;
  content:'';
  background-image: url('loader-icon.svg');
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
}
/* toast styling ...*/
.error{
  background-color: #f0a19c;
  border: 2px solid #e71809;
}
.success {
  background-color: #d4edda;
  border: 2px solid #26bd26;
}
#showAlert{
  color:var(--text-color);
  width:100%;
  text-align: justify;
  padding: 5px;
  font-size: 14px;
}
.toast-enter-from{
  opacity: 0;
  transform:translateY(-60px)
}
.toast-enter-active{
  transition: all 0.3s ease;
}
.toast-leave-to{
  opacity: 0;
  transform:translateY(-60px)
}
.toast-leave-active{
  transition: all 0.3s ease;
}
.expenses_total{
  color:var(--text-color);
  font-weight: bold;
  float:right;
  font-size:small;
}
/* modal */
.items-list{
  margin-top:0.3em;
  overflow: hidden;
  background-color:var(--element-background);
  text-transform: uppercase;
  display:block;
}
.items-list li{
  width:50%;
  float: left;
}
 .li-label{
  color:var(--white);
  text-transform: capitalize;
}
.items li{
  width:50%;
  float: left;
  }
/* close button */
.round-button {
  float:right;
  border-radius: 50%;
  padding: 0.5em;
  width: 30px;
  height: 30px;
  border: 2px solid var(--element-background);
  color: var(--element-background);
  position: relative;
}
.round-button:hover {
  border: 2px solid var(--unique-background);
  background-color: var(--button-hover);
}
 .round-button::before {
  content: "";
  position: absolute;
  display: block;
  background-color: var(--element-background);
  width: 2px;
  left: 12px;
  top: 5px;
  bottom: 5px;
  transform: rotate(45deg);
} 
.round-button::after {
  content: " ";
  position: absolute;
  display: block;
  background-color: var(--element-background);
  height: 2px;
  top:12px;
  left: 5px;
  right: 5px;
  transform: rotate(45deg);
}
.changes-notif{
  margin-top:10px;
}

/* other viewport widths */
@media (min-width: 768px) {
  .expenses_total{
    margin-right: 50%;
  }
 .center-text{
  margin-top:20px;
 }
nav{
      max-height: none;
      top: 0;
      position: relative;
      float: right;
      width: fit-content;
      background-color: var(--element-background);
      margin-right: 50px;
  }
  .menu li{
      float: left;
  }
  .menu a{
    padding:15px;
  }
  .menu a:hover{
      color: var(--white);

  }
  .hamb{
      display: none;
  }
  main{
    width:90%;
    margin:0 auto;
  }
  #form-container{
    margin-top: 50px;
  }
  .actions button{
    display: inline;
    width:25%;
    padding:10px;
  }
  p{
    font-size:normal;
  }
  .dashboard-submit{
    width:25%;
  }
  .dash{
    padding:5px;
    
  }
  .dash input{
    display: block;
    padding:5px;
    width:25%;
  }
  .reports-dash input{
    width:25%;
  }
  select{
    width:25%;
    padding:5px;
    margin:10px 2px;
  }
  .holder{
    display: flex;
  }
  .holder-padding{
    padding:5px;
  }
  .holder-padding input{
    width:100%;
  }
  .holder-padding-submit{
    width: 100%;
  }
  .holder-select{
    width:100%;
  }
  .buttons{
    display: inline;
    float:right;
    width:20%;
  }
  .expense-button{
    padding:5px;
  }
  .list-expenses-li li{
    padding:15px;
  }
  .items-list li{
    width:33%;}
  .items li{
    width:33%;
  }
}